@page "/caesar"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<table class="table">
    <tr>
        <td><label>Plaintext</label></td>
        <td><label>Ciphertext</label></td>
    </tr>
    <tr>
        <td><input @bind="cipher.Plaintext" /></td>
        <td><input @bind="cipher.Ciphertext" /></td>
    </tr>
    <tr>
        <td>
            <label>Shift</label>

            <select @bind="cipher.SelectedShift">
                @foreach (int shift in cipher.Shifts)
                {
                    <option value="@shift">@shift</option>
                }
            </select>
        </td>
        <td />
    </tr>
    <tr>
        <td>
            <button class=" btn btn-primary" @onclick="cipher.Encrypt">Encrypt</button>
        </td>
        <td>
            <button class="btn btn-primary" @onclick="cipher.Decrypt">Decrypt</button>
        </td>
    </tr>
</table>

@code {
    CaesarViewModel cipher = new();
}