@page "/caesar"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <div class="cipher_row">
        <div class="cipher_left">Plainttext</div>
        <div class="cipher_right">Ciphertext</div>
    </div>
    <div class="cipher_row">
        <div class="cipher_left"><input @bind="cipher.Plaintext" /></div>
        <div class="cipher_right"><input @bind="cipher.Ciphertext" /></div>
    </div>
    <div class="cipher_row">
        <div>Shift</div>
        <select @bind="cipher.SelectedShift">
            @foreach (int shift in cipher.Shifts)
            {
                <option value="@shift">@shift</option>
            }
        </select>
    </div>
    <div class="cipher_row">
        <div><button class=" btn btn-primary" @onclick="cipher.Defaults">Defaults</button></div>
        <div>
            <button class=" btn btn-primary" @onclick="cipher.Randomize">Randomise</button>
        </div>
    </div>
    <div class="cipher_row">
        <div class="cipher_left"><button class=" btn btn-primary" @onclick="cipher.Encrypt">Encrypt</button></div>
        <div class="cipher_right"><button class="btn btn-primary" @onclick="cipher.Decrypt">Decrypt</button></div>
    </div>
</div>

@code {
    CaesarViewModel cipher = new();
}