@page "/reflector"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <Cipher CipherVM=cipher />

    <div class="cipher_row">
        @foreach (char c in cipher.CharacterSet)
        {
            <div class="cipher_alphabet_width">
                @c
            </div>
        }
    </div>
    <div class="cipher_row">
        @foreach (char sub in cipher.CharacterSet)
        {
            <div class="cipher_alphabet_width">
                <select id=@sub
                        @bind="@cipher[sub]">
                    @foreach (char c in cipher.CharacterSet)
                    {
                        <option value="@c">@c</option>
                    }
                </select>
            </div>
        }
    </div>
    <div class="cipher_row">
        <div><button class=" btn btn-primary" @onclick="cipher.Defaults">Defaults</button></div>
        <div>
            <button class=" btn btn-primary" @onclick="cipher.Randomize">Randomise</button>
        </div>
    </div>
</div>

@code {
    ReflectorViewModel cipher = new();
}
