@page "/rot13"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <Cipher CipherVM=cipher />
</div>

@code {
    Rot13ViewModel cipher = new();
}