@page "/vigenere"
@using Useful.Security.Cryptography.UI.ViewModels;

<h1>@cipher.CipherName Cipher</h1>

<div class="cipher_container">
    <Cipher CipherVM=cipher />

    <div class="cipher_row">
        <div>Keyword</div>
        <input @bind="cipher.Keyword" />
    </div>
    <div class="cipher_row">
        <div><button class=" btn btn-primary" @onclick="cipher.Defaults">Defaults</button></div>
    </div>
</div>

@code {
    VigenereViewModel cipher = new();
}