<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Useful Rules" Description="Rules used for the Useful projects." ToolsVersion="16.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="AllRules_Name" />
    <Description Resource="AllRules_Description" />
  </Localization>
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" /> <!-- Avoid namespaces with few types -->
    <Rule Id="CA1040" Action="None" /> <!-- Avoid empty interfaces -->
	<Rule Id="CA1043" Action="None" /> <!-- Use integral or string argument for indexers -->
    <Rule Id="CA1303" Action="None" /> <!-- Do not pass literals as localized parameters -->
	<Rule Id="CA1305" Action="None" /> <!-- Specify IFormatProvider -->
    <Rule Id="CA1709" Action="None" /> <!-- Identifiers should be cased correctly -->
    <Rule Id="CA1710" Action="None" /> <!-- Identifiers should have correct suffix -->
    <Rule Id="CA2210" Action="None" /> <!-- Assemblies should have valid strong names -->
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0075" Action="Warning" /> <!-- Simplify conditional expression refactoring -->
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1805" Action="Warning" /> <!-- Do not initialize unnecessarily -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" /> <!-- XmlCommentAnalysisDisabled -->
    <Rule Id="SA1101" Action="None" /> <!-- PrefixLocalCallsWithThis -->
    <Rule Id="SA1309" Action="None" /> <!-- FieldNamesMustNotBeginWithUnderscore -->
    <Rule Id="SA1591" Action="None" /> <!-- OpeningBracesMustNotBePrecededByBlankLine -->
    <Rule Id="SA1600" Action="None" /> <!-- ElementsMustBeDocumented -->
    <Rule Id="SA1601" Action="None" /> <!-- PartialElementsMustBeDocumented -->
    <Rule Id="SX1309" Action="Error" /> <!-- FieldNamesMustBeginWithUnderscore -->
  </Rules>
  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
    <Rule Id="xUnit1004" Action="None" /> <!-- Test methods should not be skipped -->
  </Rules>
</RuleSet>