@using Useful.Security.Cryptography.UI.ViewModels;

<div class="cipher_row">
    <div class="cipher_fixed_width">Plaintext</div>
    <div class="cipher_fixed_width"><button class=" btn btn-primary" @onclick=CipherVM!.Encrypt>Encrypt</button></div>
    <div class="cipher_half_width"><input @bind=CipherVM!.Plaintext /></div>
</div>
<div class="cipher_row">
    <div class="cipher_fixed_width">Ciphertext</div>
    <div class="cipher_fixed_width"><button class="btn btn-primary" @onclick=CipherVM!.Decrypt>Decrypt</button></div>
    <div class="cipher_half_width"><input @bind=CipherVM!.Ciphertext /></div>
</div>

@code {
    [Parameter]
    public ICipherViewModel? CipherVM { get; set; }
}

