@model Useful.Security.Cryptography.UI.Models.CipherModel
@inject Useful.Security.Cryptography.UI.Services.CipherService CipherService
<h2>ROT13</h2>

<form method="post" class="form-group">
    <fieldset>
        <div class="cipher_container">
            <div class="cipher_row">
                <div class="cipher_fixed_width">Plaintext</div>
                <div class="cipher_fixed_width"><input type="submit" id="EncryptCommand" name="EncryptCommand" class="btn btn-primary" value="Encrypt" /></div>
                <div class="cipher_half_width"><input type="text" id="Plaintext" name="Plaintext" class="form-control" value="@Model.Plaintext" /></div>
            </div>
            <div class="cipher_row">
                <div class="cipher_fixed_width">Ciphertext</div>
                <div class="cipher_fixed_width"><input type="submit" id="DecryptCommand" name="DecryptCommand" class="btn btn-primary" value="Decrypt" /></div>
                <div class="cipher_half_width"><input type="text" id="Ciphertext" name="Ciphertext" class="form-control" value="@Model.Ciphertext" /></div>
            </div>
        </div>
    </fieldset>
</form>