@model Useful.UI.ViewModels.CipherViewModel

<h2>Cryptography</h2>

<form method="post" class="form-group">
    <fieldset>
        <div>
            <label for="CurrentCipherName">Cipher</label>
            @Html.DropDownList("CurrentCipherName", new SelectList(Model.CipherNames, Model.CurrentCipher.CipherName), new { @class = "form-control" })
        </div>
        <div>
            <label for="Plaintext">Plaintext</label>
            <input type="text" id="Plaintext" name="Plaintext" class="form-control" value="@Model.Plaintext" />
        </div>
        <div>
            <label for="Ciphertext">Ciphertext</label>
            <input type="text" id="Ciphertext" name="Ciphertext" class="form-control" value="@Model.Ciphertext" />
        </div>
        <div>
            <input type="submit" id="EncryptCommand" name="EncryptCommand" class="btn btn-default" value="Encrypt" />
        </div>
    </fieldset>
</form>